@import "./variables";

header {
  background: $headerColor;
  padding: 1em 0;
  text-align: center;
}

.header-container {
  padding: 0;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: $headerColor;
  color: #fff;
  transition: opacity 250ms ease;

  position: absolute;
  left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: $headerTextColor;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
  font-size: 1rem;
  width: 100%;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  margin-top: 0.75em;
}

.nav__link {
  color: $headerTextColor;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link--button {
  padding: 0.25em 0.75em;
  background-color: transparent;
  border: 1.5px solid $headerTextColor;
  color: $headerTextColor;
  border-radius: 100px;
}

.nav__link:hover,
.nav__link:focus {
  opacity: 0.65;
}

.logo {
  height: 30px;
}

@media (min-width: 800px) {
  .nav-toggle {
    display: none;
  }

  .nav {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto;
    position: relative;
  }

  .nav__list {
    display: flex;
    margin: 0;
  }

  .nav__item {
    margin: 0 0 0 3em;
  }

  .header-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
