// COLORS

// NAVIGATION BAR
$headerColor: #003249;
$headerTextColor: #fff;

// HERO
$heroColor: #005c7a;
$heroTextColor: #fff;
$heroButtonColor: #fca311;
$heroButtonFillColor: #fca311;
$heroButtonTextColor: #005c7a;

// MISSION
$missionColor: #ccdbdc;
$missionTextColor: #003249;
$missionButtonColor: #005c7a;
$missionButtonFillColor: #005c7a;
$missionButtonTextColor: #ccdbdc;

// MISSION 2
$mission2Color: #80ced7;
$mission2TextColor: #003249;
$mission2ButtonColor: red;
$mission2ButtonFillColor: red;
$mission2ButtonTextColor: #80ced7;
