// COLORS

// NAVIGATION BAR
$headerColor: #003249;
$headerTextColor: #fff;

// HERO
$heroColor: #005c7a;
$heroTextColor: #fff;
$heroButtonColor: #fca311;
$heroButtonFillColor: #fca311;
$heroButtonTextColor: #005c7a;

// MISSION
$missionColor: #80ced7;
$missionTextColor: #003249;
$missionButtonColor: red;
$missionButtonFillColor: red;
$missionButtonTextColor: #80ced7;

// MISSION2
$mission2Color: #ccdbdc;
$mission2TextColor: #003249;
$mission2ButtonColor: #005c7a;
$mission2ButtonFillColor: #005c7a;
$mission2ButtonTextColor: #ccdbdc;
