*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
}

img {
  border: 0;
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

h1 {
  font-size: 3rem;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

section {
  padding: 2em;
  position: relative;
}

.hero {
  padding-top: 3em;
  background-color: #fefae0;
  color: #000;
}

.mission {
  background-color: #14213d;
  color: #fff;
}

.mission2 {
  background-color: #fca311;
  color: #000;
}

.section__description {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 2em 0 1em 0;
}

.section__title {
  font-size: clamp(1rem, calc(3.5vw + 0.6rem), 2.4rem);
  line-height: 1.2;
  margin: 0;
  margin-bottom: 0.75em;
}

.section__title span {
  font-weight: 300;
}

.section__text {
  font-size: clamp(0.5rem, calc(2.5vw + 0.5rem), 1.2rem);
}

.section__button {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  background-color: #00b4d8;
  padding: 1.5em 3em;
  border: 0;
  border-radius: 5px;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

.section__button:hover,
.section__button :focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.section__benefits {
  padding: 0;
  list-style: none;
}

.section__benefits__points {
  font-size: clamp(0.5rem, calc(2.5vw + 0.5rem), 1.2rem);
  padding-left: 1.5em;
  background-image: url(https://assets-global.website-files.com/5e1409589314cc7fecaa2d8e/5e1409589314cc42cfaa3205_ic_checklist.svg);
  background-position: 3px 5px;
  background-repeat: no-repeat;
}

.button--1 {
  background-color: transparent;
  color: black;
  border: 1.5px solid black;
}

.button--1:hover,
.button--1 :focus {
  background-color: black;
  color: #fff;
}

.button--2 {
  background-color: transparent;
  color: #00b4d8;
  border: 1.5px solid #00b4d8;
}

.button--2:hover,
.button--2 :focus {
  background-color: #00b4d8;
  color: #000;
}

.button--3 {
  background-color: transparent;
  color: #14213d;
  border: 1.5px solid #14213d;
}

.button--3:hover,
.button--3 :focus {
  background-color: #14213d;
  color: #fff;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3em;
}

.column {
  width: 100%;
}

.column--text {
  max-width: 470px;
}

.column--img {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 990px) {
  .columns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .columns--inverted {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .columns .column--text {
    margin-right: 2em;
  }
  .columns .column--text--inverted {
    margin: 0;
    margin-left: 2em;
  }
}

@media (max-width: 990px) {
  .container {
    width: 100%;
  }
}

header {
  background: #2a9d8f;
  padding: 1em 0;
  text-align: center;
}

.header-container {
  padding: 0;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: #2a9d8f;
  color: #fff;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
  position: absolute;
  left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: #fff;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.hamburger::after {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
  font-size: 1rem;
  width: 100%;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  margin-top: 0.75em;
}

.nav__link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link--button {
  padding: 0.25em 0.75em;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 100px;
}

.nav__link:hover,
.nav__link:focus {
  opacity: 0.65;
}

.logo {
  height: 30px;
}

@media (min-width: 800px) {
  .nav-toggle {
    display: none;
  }
  .nav {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: auto;
    position: relative;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  .nav__item {
    margin: 0 0 0 3em;
  }
  .header-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.custom-shape-divider-bottom-1605730808,
.custom-shape-divider-bottom-1605731701 {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.custom-shape-divider-bottom-1605730808 svg,
.custom-shape-divider-bottom-1605731701 svg {
  position: relative;
  display: block;
  width: calc(151% + 1.3px);
  height: 60px;
}

.custom-shape-divider-bottom-1605731701 {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.custom-shape-divider-bottom-1605731701 svg {
  width: calc(114% + 1.3px);
}

.custom-shape-divider-bottom-1605730808 .shape-fill {
  fill: #14213d;
}

.custom-shape-divider-bottom-1605731701 .shape-fill {
  fill: #fca311;
}

.custom-shape-divider-top-1605733026 {
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.custom-shape-divider-top-1605733026 svg {
  position: relative;
  display: block;
  width: calc(100% + 100px);
  height: 25px;
}

.custom-shape-divider-top-1605733026 .shape-fill {
  fill: #2a9d8f;
}
/*# sourceMappingURL=style.css.map */