*,
*::before,
*::after {
  box-sizing: border-box;
}

@import "./CSS/variables";

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
}

img {
  border: 0;
  width: 100%;
  max-width: 100%;
}

h1 {
  font-size: 3rem;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  //border: 2px solid red;
}

// SECTION STYLING

section {
  padding: 5em 0;
  position: relative;
}

.hero {
  background-color: $heroColor;
  color: $heroTextColor;
}

.mission {
  background-color: $missionColor;
  color: $missionTextColor;
}

.mission2 {
  background-color: $mission2Color;
  color: $mission2TextColor;
}

// SECTION TYPOGRAPHY STYLING
.section {
  &__description {
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2em 0 1em 0;
  }
  &__title {
    font-size: clamp(1rem, calc(3.5vw + 0.6rem), 2.4rem);
    line-height: 1.2;
    margin: 0;
    margin-bottom: 0.75em;

    &--long {
      font-size: clamp(1rem, calc(3.5vw + 0.6rem), 2.1rem);
    }

    & span {
      font-weight: 300;
    }
  }
  &__text {
    font-size: clamp(0.5rem, calc(2.5vw + 0.5rem), 1.2rem);
  }
  &__button {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    background-color: #ddd;
    padding: 1.5em 3em;
    border: 0;
    border-radius: 5px;
    transition: 150ms ease-in-out;

    &:hover,
    :focus {
      //opacity: 0.75;
      transform: scale(1.05);
    }
  }
  &__img {
    width: 60%;
    align-self: center;

    &.data {
      border: 0;
      border-radius: 0;
      width: 100%;
    }

    &--single {
      width: 50%;
    }
  }
}

// LIST STYLING
.section__benefits {
  padding: 0;
  list-style: none;

  &__points {
    font-size: clamp(0.5rem, calc(2.5vw + 0.5rem), 1.2rem);
    padding-left: 1.5em;
    background-image: url(https://assets-global.website-files.com/5e1409589314cc7fecaa2d8e/5e1409589314cc42cfaa3205_ic_checklist.svg);
    background-position: 3px 5px;
    background-repeat: no-repeat;
  }
}

// BUTTON STYLING
.button {
  &--1 {
    background-color: transparent;
    color: $heroButtonColor;
    border: 1.5px solid $heroButtonColor;
    &:hover,
    :focus {
      border: 1.5px solid $heroButtonFillColor;
      background-color: $heroButtonFillColor;
      color: $heroButtonTextColor;
    }
  }
  &--2 {
    background-color: transparent;
    color: $missionButtonColor;
    border: 1.5px solid $missionButtonColor;
    &:hover,
    :focus {
      border: 1.5px solid $missionButtonFillColor;
      background-color: $missionButtonFillColor;
      color: $missionButtonTextColor;
    }
  }
  &--3 {
    background-color: transparent;
    color: $mission2ButtonColor;
    border: 1.5px solid $mission2ButtonColor;
    &:hover,
    :focus {
      border: 1.5px solid $mission2ButtonFillColor;
      background-color: $mission2ButtonFillColor;
      color: $mission2ButtonTextColor;
    }
  }
}

// SECTION POSITIONING STYLING
.columns {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3em;
}

.column {
  &--text {
    max-width: 500px;
  }

  &--img {
    display: flex;
    justify-content: flex-end;

    &--inverted {
      justify-content: center;
    }
  }
}

// MEDIA QUERIES BIG

@media (min-width: 990px) {
  .columns {
    flex-direction: row;
    &--inverted {
      flex-direction: row-reverse;
    }
    .column {
      width: 100%;
    }
    .column--img {
      width: 60%;

      &--inverted {
        width: 60%;
      }
    }
    .column--text {
      margin-right: 2em;

      &--inverted {
        margin: 0;
        margin-left: 3em;
        width: 50%;
      }
    }
  }
}

// MEDIA QUERIES SMALL

@media (max-width: 990px) {
  .container {
    width: 70%;
  }
  .section__img {
    margin-bottom: 1.5em;
  }
  .column--img {
    justify-content: center;
  }
}

// MEDIA QUERIES MOBILE

@media (max-width: 470px) {
  section {
    padding: 3em 0;
  }
}

@import "./CSS/nav";
@import "./CSS/section-dividers";
